web/WEB-INF/wsdl/localhost_8080/MNOGateway/SendSmsService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- May 30, 2006 --><xsd:schema xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v2_2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csapi.org/schema/parlayx/sms/v2_2">

   <xsd:complexType name="DeliveryInformation">
      <xsd:sequence>
         <xsd:element name="address" type="xsd:anyURI"/>
         <xsd:element name="deliveryStatus" type="parlayx_sms_xsd:DeliveryStatus"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SmsMessage">
      <xsd:sequence>
         <xsd:element name="message" type="xsd:string"/>
         <xsd:element name="senderAddress" type="xsd:anyURI"/>
         <xsd:element name="smsServiceActivationNumber" type="xsd:anyURI"/>
         <xsd:element name="dateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="DeliveryStatus">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="DeliveredToNetwork"/>
         <xsd:enumeration value="DeliveryUncertain"/>
         <xsd:enumeration value="DeliveryImpossible"/>
         <xsd:enumeration value="MessageWaiting"/>
         <xsd:enumeration value="DeliveredToTerminal"/>
         <xsd:enumeration value="DeliveryNotificationNotSupported"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="SmsFormat">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Ems"/>
         <xsd:enumeration value="SmartMessaging"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>