web/WEB-INF/wsdl/localhost_8080/MNOGateway/SmsNotificationService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- January 5, 2006 --><xsd:schema xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csapi.org/schema/parlayx/common/v2_1">

   <xsd:complexType name="TimeMetric">
      <xsd:sequence>
         <xsd:element name="metric" type="parlayx_common_xsd:TimeMetrics"/>
         <xsd:element name="units" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargingInformation">
      <xsd:sequence>
         <xsd:element name="description" type="xsd:string"/>
         <xsd:element name="currency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SimpleReference">
      <xsd:sequence>
         <xsd:element name="endpoint" type="xsd:anyURI"/>
         <xsd:element name="interfaceName" type="xsd:string"/>
         <xsd:element name="correlator" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ServiceError">
      <xsd:sequence>
         <xsd:element name="messageId" type="xsd:string"/>
         <xsd:element name="text" type="xsd:string"/>
         <xsd:element name="variables" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="TimeMetrics">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Millisecond"/>
         <xsd:enumeration value="Second"/>
         <xsd:enumeration value="Minute"/>
         <xsd:enumeration value="Hour"/>
         <xsd:enumeration value="Day"/>
         <xsd:enumeration value="Week"/>
         <xsd:enumeration value="Month"/>
         <xsd:enumeration value="Year"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:element name="ServiceException" type="parlayx_common_xsd:ServiceException"/>
   <xsd:complexType name="ServiceException">
      <xsd:sequence>
         <xsd:element name="messageId" type="xsd:string"/>
         <xsd:element name="text" type="xsd:string"/>
         <xsd:element name="variables" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="PolicyException" type="parlayx_common_xsd:PolicyException"/>
   <xsd:complexType name="PolicyException">
      <xsd:sequence>
         <xsd:element name="messageId" type="xsd:string"/>
         <xsd:element name="text" type="xsd:string"/>
         <xsd:element name="variables" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>